# check the service on this node is healthy
vrrp_script check_dns {
    script "/usr/bin/nc -z -u 127.0.0.1 5053"
    interval 2
    weight -20
}

# create the virtual endpoint
vrrp_instance VI_DNS {
    state {{ vrrp_state }}
    interface {{ ansible_default_ipv4.interface }}
    virtual_router_id 51
    priority {{ vrrp_priority }}
    advert_int 1
    
    virtual_ipaddress {
        {{ vip_address }}
    }

    track_script {
        check_dns
    }
}